<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>ファミコンのコントローラー</title>
</head>
<body>
  <div class="controller">
    <div class="controller__inner">
      
      <div class="controller__symbol">
        <div class="controller__symbolInner">
          I
        </div>
      </div>

      <div class="controller__body">

        <div class="contoroller__arrowButtonWrap">
          <div class="contoroller__arrowButton -upDown"></div>
          <div class="contoroller__arrowButton -leftRight"></div>
        </div>

        <div class="contoroller__commonButtonWrap">
          <div class="contoroller__commonButton -select">SELECT</div>
          <div class="contoroller__commonButton -start">START</div>
        </div>

        <div class="contoroller__actionButtonWrap">
          <div class="contoroller__actionButton -main"></div>
          <div class="contoroller__actionButton -sub"></div>
        </div>

      </div>

      <div class="controller__border"></div>
      <div class="controller__curve">
        <div class="controller__curveInner"></div>
      </div>

    </div>
  </div>
</body>
</html>

<